Follow the steps below to create and bind a service instance of Crunchy PostgreSQL to use with your app.

<p class="note"><strong>Note:</strong> With an on-demand service, new servers are built and configured when a new service is created. Therefore, this step takes some time to complete. You may check the status of your service from the space dashboard in the Services tab. Ensure that the status of the service is <strong>create succeeded</strong> before proceeding.</p>

1. Create a service instance named <%= service_instance_name -%> using the following command as a template:
   ```
   cf create-service <%= service_name %> <%= service_plan %> <%= service_instance_name -%> -c '{
       "db_name": "exampledb",
       "db_username": "exampleuser",
       "owner_name": "Example User",
       "owner_email": "example.user@company.com"
   }'
   ```

2. Bind the service instance to your app:
   ```
   cf bind-service <APP_NAME> <%= service_instance_name %>
   ```

3. Run the following commands to restage your app so that it can use the service:
   ```
   cf restage <APP_NAME>
   ```
   The service will then be available for use within any bound application.

A more advanced example, using custom plans:

```
cf create-service <%= service_name %> custom customService -c '{
    "db_name": "exampledb",
    "db_username": "exampleuser",
    "owner_name": "Example User",
    "owner_email": "example.user@company.com",
    "server_type": "crunchy-small",
    "num_of_replicas": 2,
    "disk_size": "64GB",
    "allow_remote_replication": true,
    "db_connection_limit": 200
}'
```

Further, in instances where `"` chars might cause issues in the command prompt (such as with Windows CMD), instances where consistent service parameters are used, or in instances where private data would be passed in the parameters, it is possible to create a separate JSON file with all of the parameters to be used in service creation.

Create a JSON file with required values: `param.json`

```json
{
        "db_name": "testdb",
        "db_username": "testdb",
        "owner_name": "Example User",
        "owner_email": "example.user@company.com",
        "super_secret_value": "dont_tell_anyone"
}
```

Then use this file as the JSON argument in the service creation:

```sh
cf create-service <%= service_name %> <%= service_plan %> <%= service_instance_name -%> -c param.json
```
