---
title: Feature Overview of Crunchy PostgreSQL for PCF
owner: Crunchy Data
---

This topic describes the features of Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) Tile.

##<a id ="plans"></a> Plans

The Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) Tile offers several out-of-the-box (configurable) plans.
When deploying the service, operators have the opportunity to tune these plans for the needs of the environment.

###<a id='plansize'></a> Plan Sizes

The plans that are included are as follows:

- `standalone`
- `standalone-replica`
- `general`
- `general-monitor`
- `custom`
- `custom-monitor`

<%= partial('plan_table') %>

<p class="note warning">
<strong>Note:</strong>
Part of maintaining high availability is having room to grow the database.
Therefore, operators and developers should consider the rate at which they expect to grow and select an
appropriately sized plan.
</p>

##<a id="backups"></a> Automated Backups

<%= partial('backup_information') %>

##<a id="load-balance"></a> Load Balancing

Crunchy PostgreSQL for PCF uses HAProxy as a single point of entry to the database cluster.
App developers must switch ports depending on the type of cluster they want to interact with.

###<a id='ports'></a> Selectively Accessing Clusters

<%= partial('ports') %>

##<a id="ha-model"></a> HA Model

<%= partial('ha-model') %>

###<a id='autofailover'></a> Automatic Failover

<%= partial('automatic_failover') %>

##<a id="tools"></a> Tools

Crunchy PostgreSQL for PCF offers the following tools to help developers manage their system:

* cf-pgadmin4
* cf-pgloader
* cf-grafana
