---
title: Feature Overview of Crunchy PostgreSQL for PCF
owner: Crunchy Data
---

This topic describes the features of Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) Tile.

## <a id ="plans"></a> Plans

The Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) Tile offers several out-of-the-box (configurable) plans. When deploying the service, operators have the opportunity to tune these plans for the needs of the environment.

### <a id='plansize'></a> Plan Sizes

<%= partial(:plans, :locals => {:service_version => 'postgresql-10-odb'}) %>

<p class="note">
<strong>Note: </strong>
Part of maintaining high availability is having room to grow the database.
Therefore, operators and developers should consider the rate at which they
expect to grow and select an appropriately sized plan.
</p>

### <a id="standalone"></a> Standalone Plan

The standalone plan includes a single PostgreSQL instance without the HA and
load balancing features outlined below. Archiving and automated backups are
disabled by default, but can be enabled by setting `standalone_backups` to
`true` during service creation or update.

### <a id="standalone-replica"></a> Standalone Replica Plan

The standalone-replica plan leverages the standalone instance as a very basic
remote replica. All of the restrictions for the Standalone plan apply to this
service plan.
The standalone-replica service must be accessible from the parent cluster;
it must be in the same PCF instance, or the networks must be peered.

(See [Load Balancing](#load-balancing) and
[Selectively Accessing Clusters](#ports) for more information)

## <a id="backups"></a> Automated Backups

<%= partial('backup_information') %>

## <a id="load-balancing"></a> Load Balancing

Crunchy PostgreSQL for PCF uses HAProxy as a single point of entry to the database cluster.
App developers must switch ports depending on the type of cluster they want to interact with.

### <a id='ports'></a> Selectively Accessing Clusters

<%= partial('ports') %>

## <a id="ha-model"></a> High Availability Model
<%= partial('ha-model') %>

### <a id='autofailover'></a> Automatic Failover

<%= partial('automatic_failover') %>

## <a id="tools"></a> Tools

Crunchy PostgreSQL for PCF offers the following tools to help developers manage their system:

* cf-pgadmin4
* cf-pgloader
* cf-grafana
