---
title: Using Crunchy PostgreSQL for PCF
owner: Crunchy Data
---

This topic describes how to use Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) Tile.

##<a id='using'></a> Crunchy PostgreSQL Service
Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) Tile is an on-demand, single-tenant PostgreSQL database service.
Crunchy PostgreSQL comes with one service:

* postgresql-9.5-odb

This service includes:

* PostgreSQL cluster (primary and replicas)
* Load balancer
* pgBackrest dedicated backup
* Consul cluster

###<a id='service-info'></a> PostgreSQL Plans
The `postgresql-9.5-odb` service comes with several plans:

<ul>
  <li>small</li>
  <li>medium</li>
  <li>large</li>
  <li>extra-large</li>
</ul>

Each plan corresponds to different server size set up by the operator when the
service was deployed.

Review each plan offering and choose the correct database size for the application.

##<a id='creating'></a> Creating PostgreSQL Service
###<a id='parameters'></a> Service Creation Parameters
<%= partial('parameters') -%>

<%= partial('pgc_params') -%>

###<a id='create-new'></a> Creating a New Service
<%=
partial('creating_service')
-%>

##<a id='integration'></a> Integrating Applications

The following sections provide information on integrating an application with
a newly created service.

###<a id='binding-key'></a> Service Bindings and Service Keys
<%= partial('binding_vs_key') -%>

###<a id='service-credentials'></a> Service Credentials
<%= partial('service_credentials') -%>

###<a id='binding'></a> Binding a PCF App to a Service
<%= partial('binding') -%>

###<a id='unbinding'></a> Unbinding a PCF App from a Service
<%= partial('unbinding') -%>

###<a id='service_keys'></a> Managing Service Keys
<%= partial('service_keys') -%>

##<a id='deleting'></a> Deleting a Service
<%= partial('deleting') -%>

##<a id='disaster'></a> Backup and Restore
<%= partial('backup_information') -%>

###<a id='deltas'></a> Restore Using Deltas
<%= partial('delta_restore') -%>

###<a id='pitr'></a> Point in Time Recovery
<%= partial('pitr') -%>

###<a id='pgbackrest'></a> pgBackrest Documentation
For more information about pgBackrest restorations, please refer to the
official [PGBackRest documentation](http://www.pgbackrest.org/user-guide.html).
