---
title: Using Crunchy PostgreSQL for PCF
owner: Crunchy Data
---

This topic describes how to use <%= vars.service_name_long -%>.

##<a id='using'></a> Crunchy PostgreSQL Service
<%= vars.service_name_long -%> is an on-demand, single-tenant PostgreSQL database service.
Crunchy PostgreSQL comes with one service:

* <%= vars.service_name %>

This service includes:

* PostgreSQL cluster (primary and replicas)
* Load balancer
* pgBackrest dedicated backup
* Consul cluster

###<a id='service-info'></a> PostgreSQL Plans
The `<%= vars.service_name -%>` service comes with several plans:

<% vars.service_plans.each do |service| -%>
- <%= service %>
<% end -%>

Each plan corresponds to different server size set up by the operator when the
service was deployed.

Review each plan offering and choose the correct database size for the application.

##<a id='creating'></a> Creating PostgreSQL Service
###<a id='parameters'></a> Service Creation Parameters
<%= partial('parameters') -%>

###<a id='create_new'></a> Creating a New Service
<%=
partial(
    :creating_service,
    :locals => {
        :service_name => vars.service_name,
        :service_plan => vars.service_plans[0],
    }
)
-%>

##<a id='disaster'></a> Backup and Restore
<%= partial('backup_information') -%>

###<a id='deltas'></a> Restore Using Deltas
<%= partial('delta_restore') -%>

###<a id='pitr'></a> Point in Time Recovery
<%= partial('pitr') -%>

###<a id='pgbackrest'></a> pgBackrest Documentation
For more information about pgBackrest restorations, please refer to the
official [PGBackRest documentation](http://www.pgbackrest.org/user-guide.html).
